body{
    background-color: whitesmoke;
}
h1{
    color: rgb(228, 60, 88);
    font-family:Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:800;
    text-transform:uppercase;
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(228, 60, 88);
    margin: auto;
    max-width: 300px;
    max-height: 400px;
    background-color: rgb(57, 189, 230);
}

fieldset {
        margin: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(161, 136, 219);
        height: 300px;
}
legend{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
}

label{
    font-weight: 600;
    font-size: large;
    margin-top: 10px;
}

button[type="submit"]{
    background-color:  rgb(228, 60, 88);
    color: white;
    margin-top: 40px;
}

.specialarea{
    width: 170px;
    height: 18px;
    border: 1px solid black;
    background-color: white;
    text-align:start;
    text-indent: 5px;
}
